<div class="container-fluid">
    <h1 class="text-center text-success fw-bold"><u>Table Task</u></h1>
    <div><h1  class="bg-primary p-3 text-center m-0">Quarterly Progress of 2021-22</h1></div>
    <div class="section"> 
      <div class="u">
        <table class="table table-bordered bg-info fw-bold">
          <tr rowspan="3"><td class="r1 bg-success">Professional Services</td></tr>
          <tr><td>Revenue</td></tr>
          <tr><td>Resource Cost</td></tr>
          <tr><td>Gross Margin %</td></tr>
          <tr><td>Billable Head Count</td></tr>
          <tr><td>Per Person Revenue</td></tr>
          <tr><td>Per Person Cost</td></tr>
        </table>
      </div>
      <div class="v">
          <mat-stepper>
                <mat-step label="Q1">
                    <div class="scroll">
                      <table class="table table-bordered table-hover text-center">
                        <thead class="bg-dark text-light">
                          <tr>
                            <th colspan="6">Q1</th>
                          </tr>
                          <tr>
                            <th colspan="2">April 2021 21</th>
                            <th colspan="2">May 2021 21</th>
                            <th colspan="2">Jone 2021 21</th>
                          </tr>
                          <tr>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>Plan</th>
                            <th>Actual</th>
                            <th>Plan</th>
                            <th>Actual</th>
                          </tr>
                        </thead>
                        <tbody class="bg-warning fw-bold">
                          <tr>
                            <td>20000</td>
                            <td>25000</td>
                            <td>30000</td>
                            <td>40000</td>
                            <td>50000</td>
                            <td>28000</td>
                          </tr>
                          <tr>
                            <td>350000</td>
                            <td>450000</td>
                            <td>350000</td>
                            <td>150000</td>
                            <td>350000</td>
                            <td>650000</td>
                          </tr>
                          <tr>
                            <td>500000</td>
                            <td>750000</td>
                            <td>350000</td>
                            <td>450000</td>
                            <td>250000</td>
                            <td>350000</td>
                          </tr>
                          <tr>
                            <td>150000</td>
                            <td>350000</td>
                            <td>450000</td>
                            <td>350000</td>
                            <td>650000</td>
                            <td>350000</td>
                          </tr>
                          <tr>
                            <td>350000</td>
                            <td>250000</td>
                            <td>350000</td>
                            <td>550000</td>
                            <td>750000</td>
                            <td>300000</td>
                          </tr>
                          <tr>
                            <td>850000</td>
                            <td>550000</td>
                            <td>350000</td>
                            <td>450000</td>
                            <td>250000</td>
                            <td>350000</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </mat-step>

                <mat-step  label="Q2">
                  <div>
                    <table class="table table-bordered table-hover text-center">
                      <thead class="bg-secondary text-light">
                        <tr>
                          <th colspan="6">Q2</th>
                        </tr>
                        <tr>
                          <th colspan="2">July 2021 21</th>
                          <th colspan="2">August 2021 21</th>
                          <th colspan="2">sep 2021 21</th>
                        </tr>
                        <tr>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                        </tr>
                      </thead>
                      <tbody class="bg-info fw-bold">
                        <tr>
                          <td>20000</td>
                          <td>25000</td>
                          <td>30000</td>
                          <td>40000</td>
                          <td>50000</td>
                          <td>28000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>150000</td>
                          <td>350000</td>
                          <td>650000</td>
                        </tr>
                        <tr>
                          <td>500000</td>
                          <td>750000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>150000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>650000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td>550000</td>
                          <td>750000</td>
                          <td>300000</td>
                        </tr>
                        <tr>
                          <td>850000</td>
                          <td>550000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </mat-step>

                <mat-step  label="Q3">
                  <div>
                    <table class="table table-bordered table-hover text-center">
                      <thead class="bg-success text-light">
                        <tr>
                          <th colspan="6">Q3</th>
                        </tr>
                        <tr>
                          <th colspan="2">Oct 2021 21</th>
                          <th colspan="2">Nov 2021 21</th>
                          <th colspan="2">Dec 2021 21</th>
                        </tr>
                        <tr>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                        </tr>
                      </thead>
                      <tbody class="bg-warning fw-bold">
                        <tr>
                          <td>20000</td>
                          <td>25000</td>
                          <td>30000</td>
                          <td>40000</td>
                          <td>50000</td>
                          <td>28000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>150000</td>
                          <td>350000</td>
                          <td>650000</td>
                        </tr>
                        <tr>
                          <td>500000</td>
                          <td>750000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>150000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>650000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td>550000</td>
                          <td>750000</td>
                          <td>300000</td>
                        </tr>
                        <tr>
                          <td>850000</td>
                          <td>550000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-step>

                <mat-step  label="Q4">
                  <div>
                    <table class="table table-bordered table-hover text-center">
                      <thead class="bg-dark text-light">
                        <tr>
                          <th colspan="6">Q4</th>
                        </tr>
                        <tr>
                          <th colspan="2">Jan 2021 21</th>
                          <th colspan="2">Feb 2021 21</th>
                          <th colspan="2">Mar 2021 21</th>
                        </tr>
                        <tr>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                        </tr>
                      </thead>
                      <tbody class="bg-secondary fw-bold">
                        <tr>
                          <td>20000</td>
                          <td>25000</td>
                          <td>30000</td>
                          <td>40000</td>
                          <td>50000</td>
                          <td>28000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>150000</td>
                          <td>350000</td>
                          <td>650000</td>
                        </tr>
                        <tr>
                          <td>500000</td>
                          <td>750000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>150000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>650000</td>
                          <td>350000</td>
                        </tr>
                        <tr>
                          <td>350000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td>550000</td>
                          <td>750000</td>
                          <td>300000</td>
                        </tr>
                        <tr>
                          <td>850000</td>
                          <td>550000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-step>


                <mat-step  label="Yearly">
                  <div class="yearly">
                    <table class="table table-bordered table-hover text-center">
                      <thead class="text-light bg-dark">
                        <tr>
                          <th class="bg-dark" colspan="6">Q1</th>
                          <th class="bg-secondary" colspan="6">Q2</th>
                          <th class="bg-success" colspan="6">Q3</th>
                          <th colspan="6">Q4</th>

                        </tr>
                        <tr>
                          <th colspan="2" class="bg-dark">April 2021</th>
                          <th colspan="2" class="bg-dark">May 2021</th>
                          <th colspan="2" class="bg-dark">Jone 2021</th>
                          <th colspan="2" class="bg-secondary">July 2021</th>
                          <th colspan="2" class="bg-secondary">Aug 2021</th>
                          <th colspan="2" class="bg-secondary">Sep 2021</th>
                          <th colspan="2" class="bg-success">Oct 2021</th>
                          <th colspan="2" class="bg-success">Nov 2021</th>
                          <th colspan="2" class="bg-success">Dec 2021</th>
                          <th colspan="2">Jan 2021</th>
                          <th colspan="2">Feb 2021</th>
                          <th colspan="2">Mar 2021</th>
                        </tr>
                        <tr>
                          <th class="bg-dark">Plan</th>
                          <th class="bg-dark">Actual</th>
                          <th class="bg-dark">Plan</th>
                          <th class="bg-dark">Actual</th>
                          <th class="bg-dark">Plan</th>
                          <th class="bg-dark">Actual</th>
                          <th class="bg-secondary">Plan</th>
                          <th class="bg-secondary">Actual</th>
                          <th class="bg-secondary">Plan</th>
                          <th class="bg-secondary">Actual</th>
                          <th class="bg-secondary">Plan</th>
                          <th class="bg-secondary">Actual</th>
                          <th class="bg-success">Plan</th>
                          <th class="bg-success">Actual</th>
                          <th class="bg-success">Plan</th>
                          <th class="bg-success">Actual</th>
                          <th class="bg-success">Plan</th>
                          <th class="bg-success">Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          <th>Plan</th>
                          <th>Actual</th>
                          
                        </tr>
                      </thead>
                      <tbody class="bg-info fw-bold">
                        <tr>
                          <td class="bg-warning">20000</td>
                          <td class="bg-warning">25000</td>
                          <td class="bg-warning">30000</td>
                          <td class="bg-warning">40000</td>
                          <td class="bg-warning">50000</td>
                          <td class="bg-warning">28000</td>
                          <td>20000</td>
                          <td>25000</td>
                          <td>30000</td>
                          <td>40000</td>
                          <td>50000</td>
                          <td>28000</td>
                          <td class="bg-warning">20000</td>
                          <td class="bg-warning">25000</td>
                          <td class="bg-warning">30000</td>
                          <td class="bg-warning">40000</td>
                          <td class="bg-warning">50000</td>
                          <td class="bg-warning">28000</td>
                          <td class="bg-secondary">20000</td>
                          <td class="bg-secondary">25000</td>
                          <td class="bg-secondary">30000</td>
                          <td class="bg-secondary">40000</td>
                          <td class="bg-secondary">50000</td>
                          <td class="bg-secondary">28000</td>
                        </tr>
                        <tr>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">150000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">650000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>150000</td>
                          <td>350000</td>
                          <td>650000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">150000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">650000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">450000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">150000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">650000</td>
                        </tr>
                        <tr>
                          <td class="bg-warning">500000</td>
                          <td class="bg-warning">750000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td>500000</td>
                          <td>750000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td class="bg-warning">500000</td>
                          <td class="bg-warning">750000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-secondary">500000</td>
                          <td class="bg-secondary">750000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">450000</td>
                          <td class="bg-secondary">250000</td>
                          <td class="bg-secondary">350000</td>
                        </tr>
                        <tr>
                          <td class="bg-warning">150000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">650000</td>
                          <td class="bg-warning">350000</td>
                          <td>150000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>350000</td>
                          <td>650000</td>
                          <td>350000</td>
                          <td class="bg-warning">150000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">650000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-secondary">150000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">450000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">650000</td>
                          <td class="bg-secondary">350000</td>
                        </tr>
                        <tr>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">550000</td>
                          <td class="bg-warning">750000</td>
                          <td class="bg-warning">300000</td>
                          <td>350000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td>550000</td>
                          <td>750000</td>
                          <td>300000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">550000</td>
                          <td class="bg-warning">750000</td>
                          <td class="bg-warning">300000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">250000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">550000</td>
                          <td class="bg-secondary">750000</td>
                          <td class="bg-secondary">300000</td>
                        </tr>
                        <tr>
                          <td class="bg-warning">850000</td>
                          <td class="bg-warning">550000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td>850000</td>
                          <td>550000</td>
                          <td>350000</td>
                          <td>450000</td>
                          <td>250000</td>
                          <td>350000</td>
                          <td class="bg-warning">850000</td>
                          <td class="bg-warning">550000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-warning">450000</td>
                          <td class="bg-warning">250000</td>
                          <td class="bg-warning">350000</td>
                          <td class="bg-secondary">850000</td>
                          <td class="bg-secondary">550000</td>
                          <td class="bg-secondary">350000</td>
                          <td class="bg-secondary">450000</td>
                          <td class="bg-secondary">250000</td>
                          <td class="bg-secondary">350000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-step>
          </mat-stepper>
        </div>
          
          
      </div>
</div>

