<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Techno Elevate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"><mat-icon>home</mat-icon>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="about"><mat-icon>how_to_reg</mat-icon>Aout Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="patient"><mat-icon>add_circle</mat-icon>Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contact"><mat-icon> contacts</mat-icon>Contacts</a>
        </li>
        <li class="nav-item"><a routerLink="movies" class="nav-link active"><mat-icon>movie</mat-icon>Movie-Search</a></li>
        <li class="nav-item"><a routerLink="todo" class="nav-link active"><mat-icon> list_alt</mat-icon>To-do-list Home</a></li>
        <li class="nav-item"><a routerLink="add" class="nav-link active"><mat-icon> import_contacts</mat-icon>Add-Lists</a></li>
        <li class="nav-item"><a routerLink="Login" class="nav-link active"><mat-icon>supervised_user_circle</mat-icon>Login</a></li>
      </ul>
    </div>
  </div>
</nav>
 <router-outlet></router-outlet>