<div class="container">
    <div class="search col-md-3 m-auto">
        <div class="input-group rounded m-3">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="mName" (keyup)="searchMovie()"/>
            <span class="input-group-text border-0" id="search-addon" (click)="searchMovie()">
              <i class="fa fa-search"></i>
            </span>
          </div>
    </div>
    <div class="row">
         <div class="col-md-4 text-center p-3" *ngFor="let x of search">
             <div class="grid py-3">
                <a [href]="'https://www.google.com/search?q='+x.Title"><img [src]="x.Poster" alt="No image" width="250px" height="300px"></a>
                <p class="mt-2 fw-bold text-light">{{x.Year}}</p>
                <h1 class="fw-bold">ID:- {{x.imdbID}}</h1>
                <h2 class="text-light">Type:-{{x.Type}}</h2>
                <h1><a class="text-decoration-none fw-bold" [href]="'https://www.google.com/search?q='+x.Title">{{x.Title}}</a></h1>
             </div>
         </div>
    </div>
</div>
