.card{
    box-shadow: 2px 2px 8px 1px #555;
    background-color: rgb(241, 191, 128);
}
.input-group{
    box-shadow: 2px 2px 7px 1px rgb(88, 88, 90);
}
.grid{
    background-color: rgb(252, 183, 56);
    border-radius: 15px;
    box-shadow: 2px 2px 7px 1px rgb(88, 88, 90);
}
.grid img{
    border-radius: 10px;
}